### VisualStudioCode ###
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

/2048px-Python-logo-notext.svg.png
/deb*.exe
obj
obj.d
/pixel_food_assets_for_pikuniku_battle_free_to_use__by_meminmamon_dc17c1q.png
*.exe